[access]
	inheritFrom = All-Projects
[project]
	description = Device System Bridge
[access "refs/*"]
	read = group GitHub Replication
[access "refs/for/*"]
	pushMerge = group dsb
[access "refs/for/refs/heads/*"]
	push = group dsb
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group Non-Interactive Users
	pushMerge = group dsb
[access "refs/heads/*"]
	abandon = group dsb
	create = group dsb
	forgeAuthor = group dsb
	label-Code-Review = -2..+2 group dsb
	submit = group dsb
	editTopicName = group dsb
[access "refs/meta/config"]
	read = group dsb
[access "refs/tags/*"]
	pushTag = group dsb
	pushSignedTag = group dsb
